<%= @issue.tags.build.inspect %>


<%= @issue.tags.build %>
             
<%= form.fileds_for :tags do | f | %>
 
  <label class="label">태그</label>
  <%=f.text_field :name %>
  <% if f.object.persisted? %>
  <%= f.label :_destroy %>
  <%= f.check_box :_destroy, "삭제" %>
  <% end %>

<% end %>